[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = git@github.com:Maphist0/llama.cpp-pub.git
	branch = dev-umm
[submodule "third_party/stable-diffusion.cpp"]
	path = third_party/stable-diffusion.cpp
	url = https://github.com/Maphist0/stable-diffusion.cpp-pub.git
	branch = dev-umm
